.loading-container {
  padding: 2rem 4rem;
  margin: auto;
  border-radius: 12px;
  background: #FFFFFF;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
}

h2 {
  padding-bottom: 1rem;
}

#line-base {
  height: 15px;
  width: 650px;
  background: #e0e0e8;
  border-radius: 25px;
  position: relative;
  margin: 1rem auto;
}

#line {
  position: absolute;
  width: 150px;
  height: 15px;
  border-radius: 25px;
  background-color: #2F80ED;
  top: 0;
  left: 0%;
  z-index: 5;
}